version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: campus_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: campus_db
      MYSQL_USER: campus_user
      MYSQL_PASSWORD: campus_password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: